<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
    </head>
    <body>
        <h1>Chào mừng đến với trang web quản lý điểm.</h1>
        <h2>Trước hết bạn cần <a href="{{ url_for('login') }}">Đăng nhập</a></h2>
        <h2>Nếu chưa có tài khoản, bạn có thể <a href="{{ url_for('register') }}">Đăng ký</a></h2>
    </body>
</html>